table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
}

th, td {
  border: 1px solid #000;
  padding: 10px;
}


td:first-child {
  background-color: orange;
  font-weight: bold;
}


.recreo {
  background-color: blue;
  color: white;
  font-weight: bold;
}


th {
  font-weight: bold;
}

th::first-letter {
  font-size: 2em;
}


.rojo {
  background-color: red;
  color: white;
}

.verde {
  background-color: green;
  color: white;
}


td:last-child:hover, th:last-child:hover {
  font-size: 2em;
}


input[type="text"] {
  background-color: pink;
}

input[type="text"]:focus {
  background-color: yellow;
}


a {
  text-decoration: none;
  color: green;
}

a:visited {
  color: red;
}
